body {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    line-height: 1.6;
}
.code-block {
    background-color: #f4f4f4;
    padding: 15px;
    border-radius: 5px;
    overflow-x: auto;
    font-family: 'Courier New', Courier, monospace;
}

code {
    background-color: #cfcece;;
    border-radius: 5px;
    padding: 2px 4px;
    font-family: 'Courier New', Courier, monospace;
}